# objects
src/*/*.o
src/*/*.lo
lib/*.a
lib/*.so
lib/*.specs
lib/*.o
arch/arm/src/*.o
arch/arm/src/*.lo
build/*
crt/*.o
crt/arm/*.o
# release files
*.tar
*.tar.gz
# config files
.config*
# gcc
tools/alireza-gcc